.cardsAvaliacao{
    width: 50%;
    display: flex;
}

.avalicao{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.desc{
    font-size: 20px;
}
