#btnMenu {
    border: 1px solid transparent ;
    padding: 6px 15px;
    font-size: 18px;
    line-height: 1.5;
    cursor: pointer;
    margin: 15px;
    font-weight: bold;
    border-radius: 20px;
    display: flex;
    justify-content: center;    
}

.icone-botao{
    margin-right: 20px;
}